*:after, *:before{
    box-sizing: border-box;
}
/**{*/
    /*margin: 0;*/
    /*padding: 0;*/
/*}*/
p{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    text-align: center;
}
.col{

}
.text{
    font-size: 25px;
    color: #000;
}
.sum{
    font-size: 30px;
    color: red;
    text-decoration: line-through;
}
.image{
    max-width: 280px;
    max-height: 200px;
    margin: 10px;
}
.buy{
    font-size: 35px;
    color: red;
}